* {
  margin: 0;
  padding: 0;
}
#RGN { font-size: 12px; font-style: italic;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%; 

}

body {
  font-family: sans-serif;
  background: #c4d7e0;
  min-height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
}

#RGN { font-size: 12px; font-style: italic;}

.welcome {
  background: #3b5ca0;
  margin: 0 auto;
  text-align: center;
  max-width: 650px;
  padding: 20px 30px;
  border-radius: 15px;
}
.welcome h3 {
  color: #fff;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.welcome hr {
  width: 450px;
  height: 3px;
  margin: 10px auto 20px;
  border: 0;
  background: rgba(255, 255, 255, 0.5);
}
.welcome p {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.welcome input {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 10%;
  height: 25px;
  border: 0px;
  padding: 0 12px;
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.welcome button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  padding: 0px 28px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
}
.welcome button:hover {
  background-color: #233760;
  border-color: #233760;
}

.CIT{
text-align: left; }


